html {
  height: 100vh;
}

body {
  height: 100%;
  background: url('/static/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 10%;
  margin-bottom: auto;
}

.jumbotron h1 {
  color: white;
  font-weight: bolder;
  font-size: 80px;
}

.jumbotron h2 {
  color: white;
}

.panel-button {
  padding: 0;
  background: #5bc0de;
  border: none;
}

.panel-body button {
  height: 100%;
  width: 100%;
}