{% load bootstrap3 %} {% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% if title %}

    <title>{{title}}</title>

    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/driver.css' %}" /> {% endblock %}

  </head>

  <body>
    <div class="container-fluid">
      {% include 'driver/driver_sidenav.html'%} {% block content %} {% endblock %}
    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src="https://use.fontawesome.com/b0e34048aa.js"></script>
    <!-- <script src="{% static 'js/driver.js' url%}"></script> -->
    <script src="{% static 'js/ajax_tokens.js' url%}"></script>
    <script src="{% static 'js/marker-map.js' url%}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdHoyRN24loeP8pO0iSo6kMRPd5CbfrWA&callback=initMap" type="text/javascript"></script>
    {% endblock %}

  </body>

</html>
